body {
  background-color: #ffffff;
  color: #000000;
}
h1 {
  color: #000000;
}
nav a {
  color: #000000;
}
footer {
  color: #000000;
}

.table .thead-light th {
	margin: auto;
	width: 50% !important;
	color: #401500;
	background-color: #FFDDCC;
	border-color: #792700;
}